<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script> 
</head>

  <div class="wrapper">
    <nav class="navbar">
      <div class="navbar-menu">
        <div class="navbar-start">
          <h1 class="has-text-dark navbar-item title">Admin Dashboard</h1>
          {{!-- <h2 class="has-text-dark navbar-start subtitle ">Group 4</h2> --}}
        </div>
        <div class="navbar-end my-3 pr-3">
            {{#if loggedIn}}
            <a href="/" class="navbar-item button is-info is-medium mx-1">homepage</a>
            <a href="/dashboard" class="navbar-item button is-info is-light is-medium mx-1">dashboard</a>
            <a href="/dashboard/create/" class="navbar-item button is-primary is-light is-medium mx-1">create task</a>
            <a href="/chat" class="navbar-item button is-primary is-medium mx-1">message</a>
            <button id="logout" class="navbar-item button is-danger is-medium">logout</button>
            {{else}}
            <a href="/" class="navbar-item button is-info is-medium mx-1">homepage</a>
            <a href="/login" class="navbar-item button is-primary is-medium mx-1">login</a>
            
            {{/if}}
        </div>
      </div>
        
        
    </nav>

    <main class="has-background-light">
            {{{ body }}}

    </main>

    <footer class="footer rows pb-2">
        <div class="row-is-full content has-text-centered">
            <p>
            <a href="/">homepage</a>{{#if loggedIn}} | 
            <a href="/dashboard/">dashboard</a> | 
            <a href="/chat/">live chat</a> | 
            <a href="/dashboard/create/">create new task</a>
            {{else}}
             | <a href="/login/">login</a>
            {{/if}}
            </p>
        </div>
      <div class="row-is-full content has-text-centered">
    <p>
      <strong>Group 4 - Admin Dashboard</strong>  | source code:
      <a href="https://github.com/mcelhatton/admin-dashboard"><i class="fab fa-github"></i></a> |  
       <a href="mailto:info@school.com"><i class="far fa-envelope"></i></a>
    </p>
  </div>
    </footer>
  </div>

{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}
</body>

</html>