<article>
  <a href="/homepage"> &larr; Back to home page</a>
  <h2>
    Edit Task
  </h2>
  <form class="edit-task-form">
    <div>
      <input name="task-title" type="text" value="{{task.title}}" />
      <span>({{format_url task.task_url}})</span>
    </div>
    <div>

    </div>
    <button type="submit">Save task</button>
    <button type="button" class="delete-post-btn">Delete task</button>
  </form>
</article>

<script src="/javascript/edit-task.js"></script>
<script src="/javascript/delete-task.js"></script>