<div class="column is-one-third is-offset-one-third">
<h2 class="title pb-4">Create New Account</h2><hr>
<form class="signup-form">
  <div>
    <label class="label" for="username-signup">Username</label>
    <input class="input" type="text" id="username-signup" />
  </div>
  <div>
    <label class="label" for="email-signup">Email</label>
    <input class="input" type="text" id="email-signup" />
  </div>
    <div>
    <label class="label" for="github-signup">github</label>
    <input class="input" type="text" id="github-signup" />
  </div>
  <div>
    <label class="label" for="password-signup">Password</label>
    <input class="input" type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit" class="button is-primary">signup</button>
  </div>
</form>
</div>

<!-- javascript file-->
<script src="/javascript/signup.js"></script>